<section class="bg-light">
    <div class="containerll px-5">
  
      <form method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><%=__('Dirección de Email')%></label>
          <input type="email" name="email" value="<%= email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text"><%= __('No compartir sus datos de usuario') %></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><%=__('contraseña')%></label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn-lo-pd"><%=__('Confirmar')%></button>
        <div><%= error %></div>
      </form>
  
    </div>
</section>